// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-green: rgba(232, 219, 125, 0.81);
$lightest-green: #F0E7A7;
$dark-green: #D0BC25;
$dark_grey:#494949;
$lighter_grey:#A4A4A4;
