.jewel-input {
  background-color: $light-green;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.jewel-button {
  border: 2px solid $light-green;
  border-radius: 50px;
  padding: 16px 24px;
}
