.custom-search {
  position: relative;
}

.custom-btn {
  color: whitesmoke;
  position: absolute;
  right: 20px;
  line-height: 3.1;
  border: 0;
  background: #d1095e;
  outline: none;
  margin: 5px 0 0 0;
  padding: 2px 16px;
  border-radius: 100px;
  z-index: 9;
}
