<div class="container m-4">
  <h1>Update your jewellery</h1>
    <%= render 'form', jewel: @jewel %>
  <div>
    <%= link_to 'Show this jewellery', jewel_path(@jewel) %> |
    <%= link_to 'Back to jewellery list', root_path %>
  </div>
</div>
