<div class="container">
  <h3>All results</h3>
  <div class="row justify-content-center">
    <% @jewels.each do |jewel| %>
      <div class="card-product col-8 col-md-4 col-lg-3 m-3 px-4 rounded">
          <%= cl_image_tag jewel.photos.first.key %>
        <div class="card-product-infos">
          <h2><%= jewel.title %></h2>
          <p>£<%= jewel.price %></p>
        </div>
        <%= link_to ">", jewel, class: "btn rounded-pill bottomright" %>
      </div>
    <% end %>
  </div>
</div>
